# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
env/
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
Thumbs.db
desktop.ini
.DS_Store

# ==========================
# Python Cache
# ==========================
.pytest_cache/

# ==========================
# Build Files
# ==========================
build/
dist/